@use '../palette' as palette;

// Specific styles here in one file to cover figure, pre, and code, adapted from the original https://tskit.dev/
.highlight {
  display: block;
  max-width: 100%;
  word-wrap: break-word;

  pre {
    background-color: palette.$color-7;
    margin: 0.5rem auto 1rem;
    padding: 1rem 1.25rem;
    overflow: auto;
    border-radius: 5px;
  }

  code {
    font-family: monospace;
    font-size: 0.75rem;
    color: palette.$brand-color-2;
    white-space: pre;


    .o {
      font-weight: 700;
    }

    // E.g. operators
    .o, .kn, .k {
      color: palette.$color-8;
    }

    // E.g. variable values
    .mi,
    .mf {
      color: palette.$color-1;
    }
  }
}