@use '../palette' as palette;

.wysiwyg {
  a {
    color: palette.$brand-color-2;
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1.5px;
    transition: text-decoration-color 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration-color: transparent;
    }

    .hero & {
      color: currentColor;
    }
  }
}
