---
layout: page
title: Learn
permalink: /learn.html

---

<h1><a id="what"></a>What is a tree sequence?</h1>
<div>
    <p>A <em>succinct tree sequence</em>, or tree sequence for short, represents the
    relationships between a set of DNA sequences. Tree sequences can be used to store
    genetic data efficiently, and enable powerful analysis of millions of
    whole genomes at a time. They can be created by
    <a href="software#simulate">simulation</a> or by <a href="software#infer">inferring
    relationships from genetic variation</a>.</p>
    
    Tree sequences provide:
    <dl>
        <dt>A record of full genetic ancestry</dt>
        <dd>A tree sequence concisely captures the full history of a set of genomes by sharing
        common branches between adjacent genetic trees. <br/>
        <a href="tutorials/what_is.html#a-record-of-genetic-ancestry">Read more ...</a>
        </dd>
        <dt>An encoding of DNA data</dt>
        <dd>Placing mutations on a tree sequence allows lossless representation 
        and compression of DNA datasets. <br/>
        <a href="what_is.html#an-encoding-of-dna-data">Read more ...</a></dd>
        <dt>An efficient analysis framework</dt>
        <dd>Many of the analyses we perform on DNA data can be 
        expressed naturally as operations on the ancestral trees, leading 
        to highly efficient algorithms. <br/>
        <a href="what_is.html#an-efficient-analysis-framework">Read more ...</a></dd>
    </dl>

    </p> See the <a href="tutorials/">tutorials</a> for more details
    and extensive examples on how to generate and process tree sequences.
    </p>
</div>

<h1><a id="talks"></a>Videos</h1>
<table>
  <thead>
    <tr>
      <th>Who</th><th>Year</th><th>Where</th><th>Video</th>
    </tr>
  </thead>
  <tbody>
    {% for video in site.videos %}
    <tr>
      <td>{{ video.who }}</td>
      <td>{{ video.year }}</td>
      <td>{{ video.where }}</td>
      <td><a href="https://www.youtube.com/watch?v={{ video.youtube-id }}">
          {{ video.title }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- <p> -->

<h1><a id="publications"></a>Key publications</h1>

{% for cat in site.pubs.categories %}

<div>
    {% assign pubs = site.pubs.pubs | where: "category",cat.key %}
    {% for pub in pubs %}
    <div class="publication">
        <span class="publication-title">{{ pub.title }}, </span>
        <span class="publication-pub">{{ pub.journal }} </span>
        <span class="publication-year">({{ pub.year }}). </span>
        <span class="publication-author">{{ pub.author }}.</span>
        doi:<a href="https://doi.org/{{ pub.doi }}">{{ pub.doi }}</a>
        <div class="publication-abstract">{{ pub.notes }}</div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
