---
layout: page
title: Learn
permalink: /learn.html


---
<h1><a id="what"></a>What is a tree-sequence</h1>
<div>
    <p>A <em>tree sequence</em> represents the relationships between a set of DNA
    sequences, and is used for efficient storage and analysis of genetic data.</p>
    <p>Tree sequences can be created by <a href="software#simulate">simulation</a> or by
    <a href="software#infer">inferring relationships from genetic variation</a>.
    In both cases, the efficiency provided by the tree sequence format makes it
    possible to deal with millions of whole genomes at a time.</p>
</div>
<h1><a id="tutorials"></a>Tree-sequence tutorials</h1>
{% for tutorial in site.tutorials %}
<div class="tutorial">
    <a href="{{ tutorial.url }}">
        <h2>
            {{ tutorial.title }}
        </h2>
    </a>
    <div class="tutorial-description">{{ tutorial.description }}</div>
    <div class="tutorial-software mono">
        Featured Software:
        {% for software in tutorial.software %}
        <a href="software/{{ software }}">{{ software }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}

<h1><a id="talks"></a>Tree-sequence talks</h1>
{% for video in site.videos %}
{% include video.html %}
{% endfor %}


<h1><a id="publications"></a>Tree-sequence publications</h1>

TODO - Complete the list, add pre-print to data fetcher

{% for cat in site.pubs.categories %}

<div>
    <h2>{{ cat.title }}</h2>

    {% assign pubs = site.pubs.pubs | where: "category",cat.key %}
    {% for pub in pubs %}
    <div class="publication">
        <span class="publication-title">{{ pub.title }}"</span>
        <span class="publication-author">{{ pub.author | map: "family" | join: ", " }}</span>
        <span class="publication-year">({{ pub.published-online.date-parts | first | first }})</span>
        <br/>
        <span class="publication-pub">{{ pub.container-title }}</span>
        <span class="publication-vol">{{ pub.volume }}</span>
        <span class="publication-page">{{ pub.page }}</span>
        <div> doi:<a href="https://doi.org/{{ pub.doi }}">{{ pub.doi }}</a></div>
        <div class="publication-abstract">{{ pub.abstract }}</div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
