---
layout: page
title: News
description: Latest updates from the tskit ecosystem.
permalink: /news/
---
          <!-- START: cards-type-3 -->
          <section class="section section--cards section--cards--type-3">
               <div class="container">
                    <div class="row">
                         <div class="col-md-8">
                              <h3 class="section__heading">
                                   Latest updates from the tskit ecosystem
                              </h3>
                         </div>
                    </div>
                    <div class="row">
                        {% assign news = site.news | sort: "timestamp" | reverse %}
                        {% for b in news %}
                        <div class="col-lg-4">
                            <!-- START: card -->
                            <a href="{{b.url | relative_url}}" class="card card--type-3 card--is-link">
<!--                                <img alt="News Image 01"-->
<!--                                     class="card__image img-fluid"-->
<!--                                     src="./assets/images/news-01-thumb@1x.jpg"-->
<!--                                     srcset="./assets/images/news-01-thumb@1x.jpg, ./assets/images/news-01-thumb@2x.jpg 2x"-->
<!--                                     sizes="(min-width: 1400px) 400px,-->
<!--                                        (min-width: 1200px) 340px,-->
<!--                                        (min-width: 992px) 280px,-->
<!--                                        (min-width: 768px) 680px,-->
<!--                                        (min-width: 576px) 500px,-->
<!--                                        280px-->
<!--                                "-->
<!--                                >-->
                                <span class="card__metadata">
                                    {% if b.author %}
                                    <span class="card__metadata__heading">By {{ b.author }}</span>
                                    &nbsp;|&nbsp;
                                    {% endif %}
                                    <time class="card__metadate__timestamp" datetime="{{b.timestamp}}">{{b.timestamp | date: "%B %d %Y" }}</time>
                                </span>
                                <h5 class="card__heading">
                                    {{b.title}}
                                </h5>
                                <div class="wysiwyg">
                                    <p>
                                        {{b.description}}
                                    </p>
                                </div>
                                <span class="list__item__link link link--type-1"
                                      target="_blank"
                                      rel="noopener noreferrer">
                                <span class="link__text">
                                    Read
                                </span>
                            </span>
                            </a>
                            <!-- END: card -->
                        </div>
                        {% endfor %}
                    </div>
               </div>

<!--               &lt;!&ndash; START: pagination &ndash;&gt;-->
<!--               <div class="container">-->
<!--                    <div class="row">-->
<!--                         <div class="col">-->
<!--                              <nav class="pagination-wrapper">-->
<!--                                   <ul class="pagination list list&#45;&#45;unstyled list&#45;&#45;horizontal">-->
<!--                                        <li class="list__item">-->
<!--                                    <span class="pagination__number pagination__number&#45;&#45;prev disabled">-->
<!--                                        Prev-->
<!--                                    </span>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                    <span class="pagination__number pagination__number&#45;&#45;current">-->
<!--                                        1-->
<!--                                    </span>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                             <a class="pagination__number" href="#">-->
<!--                                                  2-->
<!--                                             </a>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                             <a class="pagination__number" href="#">-->
<!--                                                  3-->
<!--                                             </a>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                             <a class="pagination__number" href="#">-->
<!--                                                  4-->
<!--                                             </a>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                    <span class="pagination__dots">-->
<!--                                        &hellip;-->
<!--                                    </span>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                             <a class="pagination__number" href="#">-->
<!--                                                  12-->
<!--                                             </a>-->
<!--                                        </li>-->
<!--                                        <li class="list__item">-->
<!--                                             <a class="pagination__number pagination__number&#45;&#45;next" href="#">-->
<!--                                                  Next-->
<!--                                             </a>-->
<!--                                        </li>-->
<!--                                   </ul>-->
<!--                              </nav>-->
<!--                         </div>-->
<!--                    </div>-->
<!--               </div>-->
<!--               &lt;!&ndash; END: pagination &ndash;&gt;-->

          </section>
          <!-- END: cards-type-3 -->

</div>

<script src="./assets/dist/js/main.min.js"></script>

</body>
</html>
