---
layout: page
title: Software
description: A list of the software that uses tskit tree sequences.
permalink: /software/
---
<!-- START: filters -->
<!--<section class="section section&#45;&#45;filters">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-8">-->
<!--                <h3 class="section__heading">-->
<!--                    The tskit ecosystem-->
<!--                </h3>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div class="btn-group" role="group" aria-label="Filters">-->
<!--                    <a href="#" class="btn btn-outline-primary active" aria-current="page">All</a>-->
<!--                    <a href="#" class="btn btn-outline-primary">Simulate</a>-->
<!--                    <a href="#" class="btn btn-outline-primary">Infer</a>-->
<!--                    <a href="#" class="btn btn-outline-primary">Analyse</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-8 col-lg-5">-->
<!--                <select class="form-select form-select-lg">-->
<!--                    <option>Choose resource type</option>-->
<!--                    <option value="phylogenetics">Phylogenetics</option>-->
<!--                    <option value="simulate">Simulate</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>
<!-- END: filters -->

<!-- START: cards-type-3 -->


<section class="section section--cards section--cards--type-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section__heading">
                    tskit-dev projects
                </h2>
            </div>
        </div>
        <div class="row">
            {% assign sims = site.software | sort: "priority" %}
            {% for app in sims %}
                {% if app.gh_org == "tskit-dev" %}
                    <div class="col-lg-4">
                        {% include software-summary.html app=app %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="section__heading">
                    Ecosystem projects
                </h2>
            </div>
        </div>
        <div class="row">
            {% assign sims = site.software %}
            {% for app in sims %}
            {% if app.gh_org != "tskit-dev" %}
            <div class="col-lg-4">
                {% include software-summary.html app=app %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<section class="section section--cards section--cards--type-3">
    <div class="container">
        To add a project here, please open an issue on the <a href="https://github.com/tskit-dev/tskit-site/issues/new/choose">website GitHub repository.</a>
    </div>
</section>

    <!-- START: pagination -->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <nav class="pagination-wrapper">-->
<!--                    <ul class="pagination list list&#45;&#45;unstyled list&#45;&#45;horizontal">-->
<!--                        <li class="list__item">-->
<!--                            <a class="pagination__number pagination__number&#45;&#45;prev" href="#">-->
<!--                                Prev-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <a class="pagination__number" href="#">-->
<!--                                1-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <span class="pagination__dots">-->
<!--                                &hellip;-->
<!--                            </span>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <a class="pagination__number" href="#">-->
<!--                                9-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <a class="pagination__number" href="#">-->
<!--                                10-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <a class="pagination__number" href="#">-->
<!--                                11-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li class="list__item">-->
<!--                            <span class="pagination__number pagination__number&#45;&#45;current">-->
<!--                                12-->
<!--                            </span>-->
<!--                        </li>-->
<!--                        <li class="list__item">-->
<!--                            <span class="pagination__number pagination__number&#45;&#45;next disabled">-->
<!--                                Next-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; END: pagination &ndash;&gt;-->

</section>
<!-- END: cards-type-3 -->

