<div class="card card--type-3">
    <h5 class="card__heading card__heading--type-2">
        <a href="{{ app.url | relative_url}}" style="color: white">
            {% if app.logo %}
                <img class="card__heading__logo" src="{{ app.logo }}"/>
                <span class="visually-hidden">
                    {{ app.title }}
                </span>
            {% else %}
                {{ app.title }}
            {% endif %}
            {% if app.force_show_title %}
                {{ app.title }}
            {% endif %}
        </a>
    </h5>
    <a href="{{app.docs_url}}" class="list__item__link link link--type-2">
        {% include assets/icons/icon-documentation.svg %}
        <span class="link__text">
            Documentation
        </span>
    </a>
    {% if app.publication %}
    <a href="{{app.publication}}" class="list__item__link link link--type-2">
        {% include assets/icons/icon-paper.svg %}
        <span class="link__text">
            Publication
        </span>
    </a>

    {% endif %}
    <a href="{{ app.repo_url | default: app.github.repo.html_url }}" class="list__item__link link link--type-2">
        {% include assets/icons/icon-github.svg %}
        <span class="link__text">
            {{app.gh_org}}/{{app.name}}
        </span>
    </a>
    <div class="wysiwyg">
        <p>
            {{ app.description | default: app.github.repo.description | markdownify }}
        </p>
    </div>
    {% highlight python %}{{ app.code_snippet }}{% endhighlight %}
<!--    {% if app.github.releases[0] %}-->
<!--    <a href="{{app.github.releases[0].html_url}}" class="list__item__link link link&#45;&#45;type-2">-->
<!--        {% include assets/icons/icon-release.svg %}-->
<!--        <span class="link__text">-->
<!--            Version {{app.github.releases[0].tag_name}}-->
<!--            &lt;!&ndash;            ({{app.github.releases[0].published_at | timeago}})&ndash;&gt;-->
<!--        </span>-->
<!--    </a>-->
<!--    {% endif %}-->
<!--    {% if app.python_package %}-->
<!--    <a href="https://pypi.org/project/{{app.python_package}}/" class="list__item__link link link&#45;&#45;type-2">-->
<!--        {% include assets/icons/icon-python.svg %}-->
<!--        <span class="link__text">-->
<!--            Python Package-->
<!--        </span>-->
<!--    </a>-->
<!--    {% endif %}-->
    <a href="{{ app.url | relative_url}}" class="list__item__link link link--type-1">
        <span class="link__text">
            See more
        </span>
    </a>

    <!--    <div class="card__metadata">-->
<!--        <span class="card__tag">Phylogenetics</span>-->
<!--    </div>-->
</div>

