<div class="video">
    {{ video.title }}
    <iframe width="560" height="315"
        {% if video.youtube-id %}
        src="https://www.youtube-nocookie.com/embed/{{ video.youtube-id }}"
        {% elsif video.vimeo-id %}
        src="https://vimeo.com/{{ video.vimeo-id }}"
        {% else %}
        {% comment %} it would be useful to raise an error here {% endcomment %}
        {% endif %}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>
