---
---

$body-bg-color: white;
$hilight-bg-color: #eeeeee;
$hover-color: #b7b7b7;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #045167 !default;
$header-bg-color-secondary: #12e3a8 !default;

// Text
$section-headings-color: #045167 !default;
$body-text-color: #565e62 !default;
$body-link-color: #046f8f !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #212426 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #045167 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Define as CSS variables so we can use e.g. in SVGs
:root {
    --body-bg-color:#{$body-bg-color};
    --hilight-bg-color:#{$hilight-bg-color};
    --hover-color:#{$hover-color};
    --section-headings-color:#{$section-headings-color};
    --body-text-color:#{$body-text-color};
    --body-link-color:#{$body-link-color};
    --blockquote-text-color:#{$blockquote-text-color};
}

@import "{{ site.theme }}";

$fa-font-path: "../fonts/font-awesome/";
@import 'font-awesome';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg-color;
}

.stack {
  display: flex;

  div.grow {
    position: relative;
    flex: 1;
  }
}

.stack-wrap {
  flex-wrap: wrap;
}

.stack.start-align {
  align-items: flex-start;

  .description {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.stack.wrap {
  flex-wrap: wrap;
}

.stack.vertical {
  flex-direction: column;
}

.stack.horizontal {
  flex-direction: row;
}

.stack.spread {
  justify-content: space-around;
  align-content: space-around;
}


.page-header {
  background-color: $body-bg-color;
  background-image: none;
}

.publication {
  border: 5px solid $body-bg-color;
  padding: 20px;
  background-color: $hilight-bg-color;
  .publication-title {
    font-weight: bold;
  }
  .publication-pub {
    font-style: italic;
  }
  .publication-abstract {
    padding-top: 5px;
    font-size: 15px;
  }
}

.content-page-container {
  h1 {
    text-align: center;
  }
}

.video {
  max-width: 610px;
  border: 5px solid $body-bg-color;
  padding: 20px;
  background-color: $hilight-bg-color;
  iframe {
    padding: 5px;
  }
}

.tutorial {
  max-width: 610px;
  border: 5px solid $body-bg-color;
  padding: 20px;
  background-color: $hilight-bg-color;
  .tutorial-description {
    padding-bottom: 10px;
  }
  .tutorial-software {
    font-size: 15px;
  }
}

.software-categories {
  //border: solid green;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //align-items: center;
  justify-content: center;

  .software-category {
    //border: solid orange;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .software-category-header {
      //border: solid blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      padding: 50px;
      width: 500px;

      h2 {
        //text-align: justify;
      }
    }

    .software-list {
      flex: 1;
      //border: solid deeppink;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 750px;
  .contributor {
    padding-top:5px;
    padding-bottom:5px;
    width: 250px;
  }
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.software-summary {
  display: flex;
  flex-direction: column;
  background-color: $hilight-bg-color;
  width: 550px;
  padding: 15px;
  border: 5px solid $body-bg-color;

  .software-description {
    flex: 1;
  }

  .software-name {
    margin-top: 0;
  }

  .software-summary-logo {
    float: right;
    width: 100px;
  }

  .highlight {
    font-size: smaller;
    background-color: #303437;

    .o {
      color: #b8c9d2;
    }
  }
}

.tree-sequence { // style any SVG tree sequence figures to match the site style
    .background polygon {fill: #FFFFFF33}
    .node .sym {fill: $body-link-color}
    .axis line {stroke: $body-text-color}
    .axis text {fill: $body-text-color}
    .edge {stroke: $body-text-color}
}

.software-logo {
  float: right;
  width: 200px;
}

.mono {
  font-family: monospace;
}

i.fas {
  padding-right: 5px;
  color: #12e3a8;
}

i.fab {
  padding-right: 5px;
  color: #12e3a8;
}

hr {
  width: 85%;
}

.home-item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1000px;
  background-color: $hilight-bg-color;
  border: 5px solid $body-bg-color;

  .overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  img {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
  }
  .home-action {
    flex: 0 0 150px;
    text-align: center;
  }
  .arrow {
    margin-right: 50px;
    font-size: 40px;
  }

  .home-case {
    padding: 50px;
    flex: 1;
    position: relative;
    pointer-events: none;
    z-index: 1;

    .home-case-title {
      font-size: larger;
      padding-bottom: 10px;
    }

    .home-sublink {
      span {
        padding-left: 5px;
      }
    }

    .home-sublink-categories {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
    a {
      pointer-events: all;
    }
  }
}

.content-box {
  background-color: $hilight-bg-color;
}

@media (min-width: 920px) {
  .home-item img {
    width: 250px;
    height: 250px;
    flex: 0 0 250px;
  }
}

.home-item:hover {
  background-color: $hover-color;
}

.unstyle-anchor {
  color: $body-text-color !important;
  text-decoration: none !important;
}

/* topnav */

.topnav {
  background-color: $hilight-bg-color;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  z-index: 3;
  height: 64px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $hilight-bg-color;
  }

  li a {
    display: block;
    padding: 20px 20px;
    border-top: 5px solid $body-bg-color;
    text-decoration: none;
  }

  li a:hover,
  .menu-btn:hover {
    background-color: $hover-color;
  }

  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* menu */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;


    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .navicon:before,
    .navicon:after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .navicon:before {
      top: 5px;
    }

    .navicon:after {
      top: -5px;
    }
  }

  /* menu btn */

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    max-height: 820px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

/* 48em = 768px */

@media (min-width: 920px) {
  .topnav {
    li {
      float: left;
    }

    li a {
      padding: 20px 30px;
      border-top: none;
      border-top: none;
      border-left: 5px solid $body-bg-color;
      border-right: 5px solid $body-bg-color;
    }

    li:first-of-type a {
      border-left: 10px solid $body-bg-color;
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}


// Style overrides
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  //max-width: 100% !important;
  padding: 20px !important;
  max-width: 1200px;
}

.page-header {
  padding: 0 !important
}

