---
layout: page
---
<!-- START: hero-type-2 -->
<div class="hero hero--type-2">
    <div class="container">
        <div class="row">
            <!-- NOTE: Different column values here than other instances of Type 2 Hero -->
            <div class="col-md-8 col-lg-8">
                <!-- NOTE: H1 here not H2 -->
                <h1 class="hero__heading">
                    {{ page.title }}
                </h1>
                <span class="hero__metadata">
                    {% if page.author %}
                        <span class="hero__metadata__heading">{{ page.author }}</span>
                        &nbsp;|&nbsp;
                    {% endif %}
                            <time class="hero__metadate__timestamp" datetime="{{ page.datetime }}">{{page.timestamp | date: "%B %d %Y" }}</time>
                        </span>
            </div>
        </div>
    </div>
</div>
<!-- END: hero-type-2 -->

<!-- START: news-content -->
<section class="section section--general-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 blog-entry">
                {{ content }}
            </div>
        </div>
    </div>
</section>
<!-- END: news-content -->
