---
layout: default
---
<div class="page-wrapper">
    <!-- START: header -->
    <header class="header">
        <!-- START: navbar -->
        {% include navbar.html %}
        <!-- END: navbar -->

        <!-- START: heading -->
        {% if page.layout != "software-page" and page.layout != "news" and page.title != "Community" and page.title %}
        <div class="page-heading page-heading--type-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="page-heading__text">
                            {{page.title}}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- END: heading -->
    </header>
    <!-- END: header -->

    <!-- START: content -->
    <main class="page-content" id="content">
        {{ content }}
    </main>
    <!-- END: content -->

    <!-- START: footer -->
        {% include footer.html %}
    <!-- END: footer -->
    <!-- START: global modal -->
    <div class="modal fade"
         id="globalModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="globalModalLabel"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <button class="navbar-toggler modal-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="modal-header visually-hidden">
                    <h5 class="modal-title" id="globalModalLabel">
                        Modal content
                    </h5>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- END: global modal -->

</div>
