---
layout: default
---
<div style="width: 100%; background-color: #a5693e; color:black">
    ⚠️This documentation is for the latest, unreleased version of msprime.
    For the latest release see <a href="https://tskit.dev/msprime/docs">stable release documentation.</a>
    ⚠️
</div>
<div class="topnav clearfix">
    <a href="/" class="logo mono">tskit.dev</a>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu mono">
        <li><a href="{% link learn.html %}">Learn</a></li>
        <li><a href="{% link software.md %}">Software</a></li>
        <li><a href="{% link community.md %}">Community</a></li>
    </ul>
</div>
<div class="main-content">
    {{ content }}
</div>

