---
layout: page
---
<!-- START: hero-type-3 -->
<div class="hero hero--type-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="hero__logo" src="{{ page.logo }}"/>
            </div>
            <div class="col-md-6">
                <ul class="list list--unstyled">
                    <li class="list__item">
                        <a href="{{ page.repo_url | default: page.github.repo.html_url }}"
                           class="list__item__link link link--type-2 link--type-2--size-1">
                            <!-- START: icon-github -->
                            {% include assets/icons/icon-github.svg %}
                            <!-- END: icon-github -->
                            <span class="link__text">
                               {{page.gh_org}}/{{page.name}}
                            </span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="{{page.docs_url}}" class="list__item__link link link--type-2 link--type-2--size-1">
                            <!-- START: icon-documentation -->
                            {% include assets/icons/icon-documentation.svg %}
                            <!-- END: icon-documentation -->
                            <span class="link__text">
                                Documentation
                            </span>
                        </a>
                    </li>
                    {% if page.publication %}
                    <li class="list__item">
                        <a href="{{page.publication}}" class="list__item__link link link--type-2 link--type-2--size-1">
                            {% include assets/icons/icon-paper.svg %}
                            <span class="link__text">
                                Publication
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.github.releases[0] %}
                    <li class="list__item">
                        <a href="{{page.github.releases[0].html_url}}"
                           class="list__item__link link link--type-2 link--type-2--size-1 link--has-subtext">
                            <!-- START: icon-release -->
                            {% include assets/icons/icon-release.svg %}
                            <!-- END: icon-release -->
                            <span class="link__text">
                                Latest release: {{page.github.releases[0].tag_name}}
                            </span>
                            <span class="link__subtext">
                                {{page.github.releases[0].published_at | timeago}}
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.python_package %}
                    <li class="list__item">
                        <a href="#" class="list__item__link link link--type-2 link--type-2--size-1">
                            <!-- START: icon-python -->
                            {% include assets/icons/icon-python.svg %}
                            <!-- END: icon-python -->
                            <span class="link__text">
                            Python Package
                        </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: hero-type-3 -->

<!-- START: section-code-and-text -->
<section class="section section--code-and-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
<!--                <h2 class="section__heading">-->
<!--                    {{ page.title }}-->
<!--                </h2>-->
                <p class="section__text">
                    {{ content }}
                </p>
            </div>
            <div class="col-md-6">
                {% highlight python %}{{ page.code_snippet }}{% endhighlight %}
            </div>
        </div>
    </div>
</section>
<!-- END: section-code-and-text -->

<!-- START: contributors-section -->
<section class="section section--list">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section__content">
                    <h3 class="section__heading">
                        Contributors
                    </h3>
                    <!-- START: contributors-list -->
                    <ul class="list list--unstyled">
                        {% for contributor in page.github.contributors %}
                        {% if contributor.login contains "[bot]" %}
                        {% else %}
                        <li class="list__item">
                            <a href="{{ contributor.html_url }}" class="link link--type-3">
                                <img src="{{ contributor.avatar_url }}&s=40"
                                     srcset="{{ contributor.avatar_url }}&s=40, {{ contributor.avatar_url }}&s=80 2x"
                                     alt="{{ contributor.name }}"
                                     class="img-fluid link__avatar"
                                >
                                <span class="link__text">
                                    @{{ contributor.login }}
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- END: contributors-list -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: contributors-section -->

