name: Build core site

on:
  workflow_call:

jobs:
  cancel-superseded:
    name: Cancel superseded
    runs-on: ubuntu-24.04
    steps:
        - name: Cancel Previous Runs
          uses: styfle/cancel-workflow-action@0.12.1
          with:
            access_token: ${{ github.token }}

  build-core-site:
    needs: cancel-superseded
    name: Build core site
    runs-on: ubuntu-24.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1.227.0
        with:
          ruby-version: '3.2'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - uses: actions/setup-node@v4.3.0
        with:
          node-version: 14
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Build site
        run: GITHUB_TOKEN=${{ github.token }} grunt build

      - name: Debug
        run: |
          cat Gemfile.lock
          bundle info jekyll
          bundle info jekyll-theme-cayman
          ls
          cat dist/index.html

      - name: Upload built site
        uses: actions/upload-artifact@v4.6.1
        with:
          name: core-site
          path: dist/*